body {
  margin: 0;
  font-size: 11px;
  font-family: "Lucida Grande";
}

a {
  color: #4F94CD;
}

a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0 10px 0 10px;
}

#loadingtext {
  position:absolute;
  top:250px;
  left:150px;
  font-size:2em;
  color: white;
  text-shadow: 2px 1px 3px #111111;
}

#parameterTable {
  margin-top: 10px;
}

#parameterTable th {
  text-align: left;
  padding-right: 10px;
}

#parameterTable th.secondTH {
  padding-left: 15px;
}

input[type=text] {
  width: 30px;
  border: 1px solid #BDC7D8;
  padding: 3px;
}
#categoryInput {
  width: 300px;
}

#advanced {
}

#advanced_visibility {
  color: blue;
}